@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

@if(ViewBag.num != 0)
{
  <h3>Add an engineer to this machine: @Html.DisplayFor(model => model.Name)</h3>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" />
  }
}
else
{
  <h3>There are no more engineers</h3>
}