@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<h2>Add an engineer</h2>

<h4>Add an engineer to this machine: @Html.DisplayFor(model => model.Name)</h4>

@if(ViewBag.num != 0)
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" />
  }
}
else
{
  <p>There are no engineers left to add</p>
}