<div id="header">
  <h3 class="visible">Dr. Sillystringz's Factory</h3>
  <div id="test"><p><strong>@Html.ActionLink("ENGINEERS", "Index", "Home") | @Html.ActionLink("MACHINES", "Index", "Home")</strong></p></div>
</div>