<div id="header">
  <h3>Dr. Sillystringz's Factory</h3>
  <div id="link">
    <h5><strong>|- @Html.ActionLink("ENGINEERS", "Index", "Engineers") -|- @Html.ActionLink("MACHINES", "Index", "Machines") -|</strong></h5>
  </div>
</div>
<div id="top"></div>