@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

@if(ViewBag.num != 0)
{
  <h3>Add a machine to engineer: @Html.DisplayFor(model => model.Name)</h3>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select a machine")
    @Html.DropDownList("MachineId")
    
    <input type="submit" value="Save" />
  }
}
else
{
  <h3>There are no more machines</h3>
}